p Hola #{@name},

p = "Solo quería comentarte que tu mensaje titulado '#{@title}' ha sido seleccionado para ser compartido con la comunidad de manera anonima. Si tienes alguna sugerencia o pregunta, no dudes en escribirme."

p Un saludo,

p Reinaldo
