p Hola #{@user.name},

p Muchas gracias por tu registro! Antes de comenzar a recibir nuestro newsletter, necesitamos que confirmes tu email haciendo click #{link_to 'aqui', "#{ENV["domain"]}/confirm/#{@user.confirm_code}/#{@user.email}"}.
